<div class="px-5 text-dark-grey font-medium font-serif text-[32px] lg:text-[36px] leading-tight tracking-[0.01em]">
  {{ section.settings.text }}
</div>

{% schema %}
{
  "name": "Large Heading Text",
  "class": "my-100",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text Content",
      "default": "<p>Enter your text here - choose the correct html / heading tag for your use case. Ask JM if unsure but don't block your goal.</p>"
    }
  ],
  "presets": [
    {
      "name": "Large Heading Text"
    }
  ]
}
{% endschema %}
