<div class="">
  <article class="max-w-3xl mx-auto space-y-50">
    <header class="px-5 text-center space-y-[30px] lg:space-y-[40px]">
      {% if page.metafields.tvo.eyebrow_text != blank %}
        <div class="font-serif text-grey-50 italic">{{ page.metafields.tvo.eyebrow_text }}</div>
      {% endif %}
      <h1 class="font-heading max-w-sm mx-auto">{{ page.title }}</h1>
    </header>

    <div class="font-serif prose mx-auto">
      {{ page.content }}
    </div>
  </article>
</div>

{% schema %}
{
  "name": "Main Page",
  "class": "my-50 lg:my-100",
  "settings": []
}
{% endschema %}
