<div class="relative flex items-center justify-center">
  <div class="relative text-center space-y-8">
    <h1 class="font-heading text-8xl">404</h1>
    <p class="font-heading text-4xl">Page Not Found</p>
    <p class="text-lg">The page you're looking for doesn't exist or has been moved.</p>
    <div class="flex justify-center">
      {% render 'ui-button', button_text: 'Continue Shopping', type: 'link', href: '/collections/shop-all' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "404 Page",
  "class": "my-100"
}
{% endschema %}
