<div class="container mx-auto px-5">
  <div class="max-w-2xl mx-auto">
    <h1 class="font-heading text-center mb-10">
      Welcome<br>
      Back
    </h1>

    {% form 'customer_login' %}
      {%- if form.errors -%}
        <div class="mb-10 p-4 bg-red-50 text-red-500" role="alert">
          <h2 class="sr-only">Error</h2>
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <div class="space-y-5">
        <div>
          <label for="CustomerEmail" class="block mb-2 font-sans tracking-[0.15em] uppercase text-sm text-dark-grey">
            Email
          </label>
          <input
            type="email"
            name="customer[email]"
            id="CustomerEmail"
            class="w-full p-3 border"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
            spellcheck="false"
            autocomplete="email"
            autocapitalize="off"
            required
            placeholder="Your Email"
          >
        </div>

        <div>
          <label for="CustomerPassword" class="block mb-2 font-sans tracking-[0.15em] uppercase text-sm text-dark-grey">
            Password
          </label>
          <input
            type="password"
            name="customer[password]"
            id="CustomerPassword"
            class="w-full p-3 border"
            autocomplete="current-password"
            required
            placeholder="Your Password"
          >
        </div>

        <!-- Submit Button styled like the main-product add to cart button -->
        <button type="submit" class="w-full bg-dark-grey text-white uppercase font-sans tracking-[0.15em] text-sm p-5">
          Sign In
        </button>

        <div class="text-center flex justify-between items-center flex-col gap-2 md:flex-row">
          <p class="text-center text-grey-50 ">
            Not a member?
            <a href="{{ routes.account_register_url }}" class="underline italic text-dark-grey">Create an account</a>
          </p>
          <a href="{{ routes.account_recover_url }}" class=" text-grey-50 italic">Lost your password?</a>
        </div>
      </div>
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "Login Page",
  "class": "my-50 lg:my-100",
  "settings": []
}
{% endschema %}
