@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgba(0, 0, 0, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply font-serif text-dark-grey bg-white;
}

a {
  @apply transition-opacity duration-300 ease-in-out;
}

a:hover {
  @apply opacity-75;
}

.font-heading {
  @apply font-display text-[40px] leading-[90%] tracking-[0.03em] uppercase lg:text-[65px];
}

.prose {
  @apply mt-100;
}

.prose > *:not(blockquote) {
  max-width: 680px;
  @apply mx-auto text-[22px] px-5;
}

.prose h1,
.prose h1 > strong,
.prose h1 > * {
  @apply font-sans mb-2.5 text-4xl tracking-[0.15em] uppercase;
}

.prose h2,
.prose h2 > strong,
.prose h2 > * {
  @apply font-sans mb-2.5 text-4xl tracking-[0.15em] uppercase;
}

.prose h3,
.prose h3 > strong,
.prose h3 > * {
  @apply font-sans mb-2.5 text-3xl tracking-[0.15em] uppercase;
}

.prose h4,
.prose h4 > strong,
.prose h4 > * {
  @apply font-sans mb-2.5 text-[22px] tracking-[0.15em] uppercase;
}

.prose h5,
.prose h5 > strong,
.prose h5 > * {
  @apply font-sans mb-2.5 text-xl tracking-[0.15em] uppercase;
}

.prose h6,
.prose h6 > strong,
.prose h6 > * {
  @apply font-sans mb-2.5 text-lg tracking-[0.15em] uppercase;
}

.prose > *:not(h1, h2, h3, h4, h5, h6) {
  @apply mb-10;
}

.prose blockquote {
  @apply w-full px-5 !my-100 text-dark-grey font-medium font-serif text-[32px] lg:text-[36px] leading-tight tracking-[0.01em];
}

.prose blockquote strong {
  @apply !font-normal;
}

/* Swiper Pagination Styles */
.swiper-pagination--text,
.swiper-pagination--blog,
.swiper-pagination--giant-video {
  @apply bottom-0 left-0 right-0 w-fit absolute flex items-end justify-center flex-row;
}
.swiper-pagination--text .swiper-pagination-bullet,
.swiper-pagination--blog .swiper-pagination-bullet,
.swiper-pagination--giant-video .swiper-pagination-bullet {
  @apply border border-black/25 rounded-full size-[10px] bg-transparent opacity-100;
}

.swiper-pagination--text .swiper-pagination-bullet-active,
.swiper-pagination--blog .swiper-pagination-bullet-active,
.swiper-pagination--giant-video .swiper-pagination-bullet-active {
  @apply bg-black;
}
