@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination--text {
  @apply bottom-0 left-0 right-0 w-fit absolute flex items-end justify-center flex-row;
}
.swiper-pagination--text .swiper-pagination-bullet {
  @apply border border-black/25 rounded-full size-[10px] bg-transparent opacity-100;
}

.swiper-pagination--text .swiper-pagination-bullet-active {
  @apply bg-black;
}
