@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply font-serif;
  color: var(--foreground);
  background: var(--background);
}

.font-heading {
  @apply font-display text-[40px] leading-[90%] tracking-[0.03em] uppercase xl:text-[65px];
}

.swiper-pagination--text,
.swiper-pagination--blog {
  @apply bottom-0 left-0 right-0 w-fit absolute flex items-end justify-center flex-row;
}
.swiper-pagination--text .swiper-pagination-bullet,
.swiper-pagination--blog .swiper-pagination-bullet {
  @apply border border-black/25 rounded-full size-[10px] bg-transparent opacity-100;
}

.swiper-pagination--text .swiper-pagination-bullet-active,
.swiper-pagination--blog .swiper-pagination-bullet-active {
  @apply bg-black;
}
